.add-book-section {
  margin: 2% 0 0 4%;
}

.input-book {
  width: 450px;
  height: 40px;
  margin-right: 2%;
  padding-left: 2%;
  outline: none;
  border: 1px solid #000;
  border-radius: 8px;
  opacity: 0.5;
  background: #fff;
  margin-bottom: 3%;
}

.input-author {
  width: 350px;
  height: 40px;
  margin-right: 2%;
  padding-left: 2%;
  outline: none;
  border: 1px solid #000;
  border-radius: 8px;
  opacity: 0.5;
  background: #fff;
}

#book-category {
  width: 250px;
  height: 40px;
  margin-right: 2%;
  padding-left: 2%;
  outline: none;
  border: 1px solid #000;
  border-radius: 8px;
  opacity: 0.5;
  background: #fff;
}

.add-button {
  width: 100px;
  height: 40px;
  outline: none;
  padding: 8px;
  border: 1px solid #000;
  background: #227ded;
  color: #fff;
  cursor: pointer;
}

.add-button:hover {
  border: 3px solid dodgerblue;
  transition-duration: 0.9s;
}
